{% extends "base.html" %}

{% block body%}
    <div class="container" style="display: flex; justify-content: center; align-items: center; margin-top: 2em;">
        <div class="row">
            <div class="col-12">
                <form method="POST">
                    <table>
                        {% csrf_token %}
                        {{ form.as_table }}
                    </table>
                    <button class="btn btn-primary"
                                type="submit">Submit
                        </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}