{% extends "base.html" %}

{% block body%}
    <div class="container" style="display: flex; justify-content: center; align-items: center; margin-top: 2em;">
        <div class="row">
            <div class="col-12">
                <form method="POST">
                    <!-- {% csrf_token %} -->
                    <table>
                        {% csrf_token %}
                        {{ form.as_table }}
                    </table>
                    <!-- {{ form.name }}
                    {{ form.age }} -->
                    <button class="btn btn-primary"
                                type="submit">Submit
                        </button>
                </form>
            </div>
        </div>
    </div>
<!-- <form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button class="button is-success is-fullwidth is-medium mt-5"
                type="submit">Dweet
        </button>
</form> -->
{% endblock %}