{% extends 'base.html'%}

{% block body %}



<div style="display: flex; justify-content: center; align-items: center; margin-top: 17rem;">
    <p class="card-title">Are you sure you want to delete?</p>
    <!-- <div class="card-body"> -->
        <a href="{% url 'patients_list' %}" class="card-link" style="border: 0px solid #ccc; background-color: #E3FCFF; color: #333; padding: 0.5em 1em; text-decoration: none; font-weight: bold; border-radius: 0.7em; cursor: pointer;">Cancel</a>

        <form method="post">
            {% csrf_token %}
            <input type="submit" name="Confirm" class="card-link" value="Confirm" style="border: 0px solid #ccc; background-color: #05445E; color: #f6f1f1; padding: 0.5em 1em; text-decoration: none; font-weight: bold; border-radius: 0.7em; cursor: pointer;">
        </form>
    <!-- </div> -->

</div>


{% endblock %}