{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'patients_app/css/styles.css' %}">

  <title>Add Visit</title>
</head>
<body>
  <div class="clearfix">
    <a href="{% url 'calendar' %}"><img src="{% static 'images/arrow.png' %}" alt="backarrow" class="item"></a>
  </div>

  <!-- <div class="create_div"><p class="create">Add Visit</p></div> -->
  <!-- <h1 class="title">{% block title %}{% endblock %}</h1> -->

  {% block content %}
  
  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  {{ field.label }} <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              {{ field.label }} <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}
  
  <div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <p class="create">Add Visit</p>
            <form method="post">
                {% csrf_token %}
                <table class="form form-table">
                  {{ form }}
                  <tr><td colspan="2"><button type="submit" class="submit"> Submit </button></td></tr>
                </table>
              </form>
        </div>
        {% if events %}
        <div class="col">
            <p class="create">Current visits on this day</p>
            {% for event in events %}
            <div class="event" >
                <a href="{% url 'update_event' event.id %}" style="font-size: x-large;">{{ event.start_time|date:'H:i' }} - {{ event.end_time|date:'H:i' }} </a>
                <form method="post" action="{% url 'delete_event' event.pk %}">
                    {% csrf_token %}
                    <input type="submit" name="Cancel" class="submit3" value="Cancel">                  </form>
            </div>
            {% endfor %}
        </div>
        {% endif %}

  {% endblock %}





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  {% block script %}
  {% endblock %}
</body>
</html>