{% extends 'base.html' %}

{% block body %}
<body>

    <div class="container">
        <form class="d-flex" action="{% url 'search' %}" method='get' role="search" style="margin: 1rem; width: 30rem;">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="q" placeholder="Name" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a href="{% url 'create_patient' %}" style="margin: 1rem;display: inline-block; border: 1px solid #ccc; background-color: #eaeaea; color: #000; padding: 0.5em 1em; text-decoration: none; font-weight: bold; border-radius: 3px; cursor: pointer;">&#43;</a>
        {% for patient in patients %}
        <div class="card" style="margin: 1rem;">
            <div class="card-body">
                <h5 class="card-title">{{ patient.name }}, {{ patient.age }}</h5>
                <p class="card-text">Doctor: {{ patient.doctor }}</p>
                <p class="card-text">{{ patient.phone }}</p>
                <p class="card-text">{{ patient.medical_history }}</p>
                <a href="{% url 'update_patient' patient.id %}" style="display: inline-block;
                border: 1px solid #ccc; background-color: #d1eaf9; color: #333; padding: 0.5em 1em; text-decoration: none; font-weight: bold; border-radius: 3px; cursor: pointer;">Edit</a>
                <a href="{% url 'ask_delete' patient.id %}" style="display: inline-block; border: 1px solid #ccc; background-color: #e68d92; color: #000; padding: 0.5em 1em; text-decoration: none; font-weight: bold; border-radius: 3px; cursor: pointer;">Delete</a>
              </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}