{% extends 'base.html' %}

{% load static %}

{% block body %}
<body>

    <div class="container">
        <form class="d-flex" action="{% url 'search' %}" method='get' role="search" style="margin: 1rem; width: 30rem;">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="q" placeholder="Name" aria-label="Search">
            <button class="submit3" type="submit">Search</button>
        </form>
        <a href="{% url 'create_patient' %}"><img src="{% static 'images/plus.png' %}" alt="backarrow" class="plus"></a>
        {% for patient in patients %}
        <div class="card" style="margin: 1rem;">
            <div class="card-body">
                <h5 class="patient-title">{{ patient.name }}, {{ patient.age }}</h5>
                <p class="card-text">{{ patient.phone }}</p>
                <p class="card-text">{{ patient.medical_history }}</p>
                <a href="{% url 'update_patient' patient.id %}" class='edit'>Edit</a>
                <a href="{% url 'ask_delete' patient.id %}" class="delete">Delete</a>
              </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}